.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top:30px;
  width:70%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  left:20%;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding:5px 10px;
  line-height:16px;
  font-size: 16px;
  color: #231f20;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

.react-autosuggest__section-title {
  padding:5px 10px;
  font-size: 16px;
  line-height:16px;
  color: #231f20;
  font-weight:bold;
}

.react-autosuggest__section-container:first-child .react-autosuggest__section-title {
  border-top: 0;
}

.react-autosuggest__section-suggestions-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* CSS - 27-July-2016 */
.react-autosuggest__container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.react-autosuggest__section-container {
    border-bottom: 1px solid #d0d0d0;
    padding: 5px 0px;

}
.react-autosuggest__section-container:first-child .react-autosuggest__section-title {
    display: none;
}
.react-autosuggest__section-container:nth-child(3)  {
    border-bottom: none;
    padding-bottom:0px;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.react-autosuggest__container .react-autosuggest__input {
    float: none;
    display: inline;
    width: auto;
    margin-left: 200px;
    min-width: calc(100% - 242px);
}

div::-webkit-scrollbar {
    width: 4px;
}
 
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.suggestion-content {
  /*display: flex;
  align-items: center;
  background-repeat: no-repeat;
  */
}


.react-autosuggest__section-container:first-child .highlight {
  color: #000;
  font-weight: bold;
}

