.browse-tab-results .react-tabs [role=tablist] {
    border-top: none;
    border-left: none;
    border-right: none;
    background: #fff;
}

.browse-tab-results .ReactTabs__TabPanel--selected {
    border: none;
}

.browse-tab-results .ReactTabs__TabPanel--selected {
    padding-top: 0px;
}

.react-tabs [role=tab] {
    margin-left: 1%;
}

.ellipsis_inline {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: block;
    text-decoration: initial;
    white-space: nowrap;
}

.browse-tooltip {
    display: inline-block;
    margin-right: 10px;
}

.pe-tooltip {
    width: 230px;
}

#section label {
    display: block;
    margin-bottom: 10px;
}

.pe-slider{
   width: 16%;
    float: left;
    margin-top: 16px;
}
.slider .pe-btn.pe-btn--medium{
float: right;
background-color: #107aca;
color: #FFFFFF;
}

.pe-btn prim pe-btn--medium{
    background-color: #107aca;
color: #FFFFFF;
}

.pe-slider .pe-btn.pe-btn--medium{
   background-color: #107aca;
   color: #FFFFFF;
}

.pe_filter span {
    margin-left: 5px !important;
}

.filter-container span.pe_filter{
    margin-top:0px;
}

.alert.alert-info{
    margin:20px 20px 0px;
}

.footer-icon .pe-tooltip p {
    font-size: 12px;
    line-height: 1.42857143;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.saveSearchLinkDiv{
    text-align:right;
}
.saveSearchLinkDiv .hide{
    display:none;
}
.saveSearchLinkDiv a{
   text-decoration: underline;
}

.ReactTabs__TabPanel.browseAssets  .search-tab .filter-container, 
.ReactTabs__TabPanel.uploadAssets .folderTree {
    max-height: 350px;
    overflow-y: scroll;
}

.pe-display-dropdown{
width: auto;
margin-top: 10px;
}
.sort-options{
 float:right;  
 }
.ReactTabs__TabPanel.browseAssets .results-container ul{
clear:both;
}
.pe-sortbox{
float:left;
width:auto;
margin-right: 18px;
}
.pe-sortbox span{
float:left;
margin-right: 10px;
}
.pe-sortbox .sort-asset {
    float: left;
}
.pe-sortbox #sort {
    font-size: 14px;
    border: none;
    color: #337ab7;
    height: auto;
    padding: 3px 0px;
}
.pe-sortbox #sort option {
border-color: #d0d0d0;
color: #333;
display: block;
}
.view-options{
float:left;
width:auto;
}
.view-options .dropdownWrapper{
float:left;
}
.view-options .toolBar{
padding-left:0px;
}
.view-options .dropdown-container > div.dropdown-display{
border:none;
height:auto;

}
.view-options .dropdown-container > div.dropdown-display span,
.view-options div.dropdown-container > div.dropdown-display > *{
    line-height: 17px!important;
    height: auto;
    margin-top: 5px;
}
.view-options .fa-th:before {
color: #337ab7;
}
.pe-display-dropdown .itemPerPageSelectBox{
height:30px;
padding:0px 5px;
}
.results-container{
    clear:both;
    overflow:hidden;
}
.view-options .toolBar{
    float:left;
}
.view-options{
margin-left:5px;
}

.closeButtonDiv{
    
}
